* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  flex: 1 0 auto;
  position: relative;
  margin-top: 20px;
}
.figure {
  position: relative;
}
.cardTooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: white;
  background-color: royalblue;
  border-radius: 7px;
  padding: 5px 10px;
}

.form-select {
  margin-bottom: 20px;
}

.-open.cardTooltip {
  display: block;
}

